<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
    <link th:href="@{/grades.css}" rel="stylesheet">
</head>
<body>
  <h1>Grades:</h1>
  <table>
    <tr>
      <th>Student</th>
      <th>Subject</th>
      <th>Score</th>
    </tr>
    <tr th:each="grade: ${grades}">
      <td th:text="${grade.name}"></td>
      <td th:text="${grade.subject}"></td>
      <td th:text="${grade.score}"></td>
    </tr>
  </table>
</body>
</html>